<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Usuario</h3>

        </div>
        <div class="card-body">
            <form action="" #f="ngForm" novalidate>
                <div>


                </div>
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input type="text" class="form-control" [(ngModel)]="categoria.nombre" name="nombre" required>
                </div>
                <div class="form-group">
                    <label for="">Descripcion</label>
                    <input type="text" class="form-control" [(ngModel)]="categoria.descripcion" name="descripcion" required>
                </div>
                <div class="form-group">
                    <label for="">Foto</label>
                    <input type="text" class="form-control" [(ngModel)]="categoria.foto" name="foto" required>
                </div>

                <button class="btn btn-danger" (click)="guardarCategoria()" [disabled]="!f.valid">Guardar</button>

            </form>
            <div *ngIf="failCreado" class="float-left">
                <p class="p-3 bg-danger text-white rounded" style="margin: 10px">Error: {{msjErr}}</p>
            </div>
            <div *ngIf="creado" class="float-left">
                <p class="p-3 bg-success text-white rounded" style="margin: 10px">OK: {{msjOK}}</p>
            </div>

        </div>

    </div>
</div>